
{% extends "admin.layout.twig" %}


{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <div id="tree_menu">



            </div>
            <div class="tree_controls">
                <button id="save_tree">Salveaza</button>
            </div>



        </div>
        <div class="col-sm-3">
            <span class="info">Info:</span>

        </div>
    </div>
    <script>
        var menuId = {{menuId}}
        $(document).ready(function () {
            
            $('#tree_menu').jstree({
            "core": {

            "data":{{menuData|raw}}
            },
                    "plugins": ["dnd"]

            } );
            setTimeout(function( ){ $('#tree_menu').jstree().open_all(); }, 300);
       

        $('#save_tree').click(function () {
            var nodes = $('#tree_menu').jstree().get_json(null, {"flat": true});
            var nodeData = {'data': nodes};
            $.ajax({
                'url': '/admin/menu/' + menuId,
                'method': 'post',
                'data': nodeData
            });
        });
        });

    </script>
{% endblock %}