
{% extends "admin.layout.twig" %}


{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <div id="tree_menu" ></div>
                    <button id="save_tree"  class="btn-success btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i> | Salveaza Meniul</button>
                </div>
                <div id="tree_controls" class="col-sm-5">
                    <fieldset>
                        <input type="hidden" name="menu_node"/>
                        <legend>Element:</legend>
                        <div>
                            <label>Titlu</label><input type="text" name="titlu"/>
                        </div>
                        <div>
                            <label>URL</label><input type="text" name="url"/>
                        </div>
                        <button class="btn-success btn-sm" id="update_menu_item"><i class="glyphicon glyphicon-pencil"></i> | actualizeaza elementul</button>
                        <button class="btn-danger btn-sm" id="delete_menu_item"><i class="glyphicon glyphicon-remove"></i> | sterge elementul</button>
                    </fieldset>

                </div>
            </div>





        </div>
        <div class="col-sm-3">
            <span class="info">Info:</span>
            <p>Nu uita sa salvezi meniul dupa ce ai terminat de modificat elementele</p>
            <p>Atentie: nu este indicat sa modifici URL-ul de pe element. In cazul paginilor, url-ul se actualizeaza automat cand actualizezi pagina</p>
        </div>
    </div>
    <script>
        var menuId = parseInt({{menuId}});
        var menuData = {{menuData|raw}};</script>
    <script>
                $(document).ready(function () {

            $('#tree_menu')
                    .on('changed.jstree', function (e, data) {
                        if (!data.selected.length) {
                            return true;
                        }
                        var node = data.instance.get_node(data.selected[0]);
                        $('#tree_controls input[name=menu_node]').val(data.selected[0]);
                        $('#tree_controls input[name=titlu]').val(node.text);
                        $('#tree_controls input[name=url]').val(node.data.slug);
                        return true;
                    })
                    .jstree({
                        "plugins": ["dnd", "contextmenu"],
                        "core": {
                            "check_callback": true,
                            "multiple": false,
                            "data": menuData
                        },
                    });
            setTimeout(function () {
                $('#tree_menu').jstree().open_all();
            }, 300);

            $("#update_menu_item").click(function () {
                var ref = $('#tree_menu').jstree(true);
                var nodeId = $('#tree_controls input[name=menu_node]').val();
                var node = ref.get_node(nodeId);
                node.text = $('#tree_controls input[name=titlu]').val();
                node.data.slug = $('#tree_controls input[name=url]').val();
                ref.redraw_node(node);
            });
            $("#delete_menu_item").click(function () {
                var ref = $('#tree_menu').jstree(true);
                var sel = ref.get_selected();
                if (!sel.length)
                    return false;
                ref.delete_node(sel);
                $('#tree_controls input[name=menu_node]').val('');
                $('#tree_controls input[name=titlu]').val('');
                $('#tree_controls input[name=url]').val('');
            });
            $('#save_tree').click(function () {
                var nodes = $('#tree_menu').jstree().get_json(null, {"flat": true});
                var nodeData = {'data': nodes};
                $.ajax({
                    'url': '/admin/menu/' + menuId,
                    'method': 'post',
                    'data': nodeData,
                    "success": function (data) {
                        console.log(data);
                    }
                });
            });
        });

    </script>
{% endblock %}