.admin_container {
    width: 1200px;
    margin:20px auto;
}

.form_container {
    width:800px;
    padding: 20px;
}
table.table th {
    line-height: 32px;
    background-color: #d1edff;
    color: #333;
    min-width: 44px;
}

span.link {
    color:#333;
    font-size: 11px;
    font-family: monospace;
    background-color: beige;
    padding: 2px;
    border: 1px solid bisque;
    border-radius: 3px;
}
textarea {
    width:100%;
}
.save_panel{
    position: fixed;
    bottom: 0px;
    /* margin: 0px 0px 30px 0px; */
    border: 1px solid cadetblue;
    width: 891px;
    padding: 10px;
    background: cadetblue;
}

.article_meta{
    width: 600px;
    float:left;
}
.article_categories {
    width:200px; 
    float:right;
}
.article_meta input {
    width: 300px;
}
.admin_form label {
    width: 120px;
    padding: 0px 3px;
    color: #3a3a3a;
}

.password_encoded {
    border: 1px solid #BBB;
    border-radius: 3px;
    background-color: #5fa2db;
    padding: 2px 5px 2px 0px;
    font-family: monospace;
    margin: 10px;

}
.password_encoded span {
    background-color: #d1edff;
    font-weight: bold;
    margin-right: 10px;
    padding:3px;
    border-radius: 3px;
}
#notice_board {
    display: none;
}
.admin_container .admin_form {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.resource_form {
    float:left;
    width: 400px;
}
.media_types {
    float: right;
    width: 200px;
}