
SetEnv PHP_WEB_DB_NAME sgc_web
SetEnv PHP_WEB_DB_USERNAME root
SetEnv PHP_WEB_DB_PASSWORD root
SetEnv PHP_WEB_ADMIN_USER admin
SetEnv PHP_WEB_ADMIN_PASS nhDr7OyKlXQju+Ge/WKGrPQ9lPBSUFfpK+B1xqx/+8zLZqRNX0+5G1zBQklXUFy86lCpkAofsExlXiorUcKSNQ==

RewriteEngine On

#RewriteBase /
# don't rewrite assets
RewriteRule ^((css|js|img|fancybox)/.*)$ - [L]
RewriteRule ^favicon.ico$ - [L]
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule resources/.* - [L,T=applicaton/octet-stream]
#don't rewrite index.php
RewriteRule index\.php - [L]

#send all other traffic to index.php
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

