<ul>
    {% for menuItem in menu.items %} 
        <li >

            <a href="{{menuItem.slug}}">{{menuItem.title}}</a>
            
            {% if menuItem.items is defined %}

                {% include "layers/_menu_item.twig" with {'menu': menuItem}  only %}

            {%endif%}

        </li>

    {% endfor %}
</ul>