<ul>
    {% for menuItem in menu.items %} 
        <li >
            
            <a href="{{menuItem.slug}}" {%if menuItem.slug == activePage %} class="active" {%endif%}><p>{{menuItem.title}}</p></a>
            
            {% if menuItem.items is defined %}

                {% include "layers/_menu_item.twig" with {'menu': menuItem, 'activePage': activePage}  only %}

            {%endif%}

        </li>

    {% endfor %}
</ul>