<p>Facilitati in vecinatatea ansamblului rezidential (5-10 min): <br />
<ul >
    <li>Piata Floresti</li>
    <li>Lidl</li>
    <li>Carefour</li>
    <li>Statie autobuz (3 min)</li>
    <li>Sala Fitnes</li>
    <li>Terenuri de sport</li>
    <li>Scoli</li>
    <li>Gradinite</li>

</ul>
</p>
<p>Sistemul constructiv: <br />
    Este compus din radier, stalpi, plansee din beton armat, diafragme beton armant, caramida porotherm, termoizolatie de calitate(10 cm). Proiectarea a fost executata in conformitate cu noile technologii si standarde privind siguranta constructiilor, avand ca baza principala normele de protectie seismica existente in Romania.
</p>
<div class="bs-callout bs-callout-info">
    <p class="">
        Modalitati de plata: <br/>
    <ul class="list-inline ">
        <li>Credit imobiliar</li>
        <li>Credit Prima Casa</li>
        <li>Credit ipotecar</li>
        <li>Cash</li>
    </ul>
</div>
</p>