<footer id="section-footer" class="footer " data-widget="section" data-container="section">
    <div data-css-name="" class="" data-widget="container" data-container="container">
        <div class="row-fixed" data-widget="row">
            <div class="container container-fluid">
                <div class="row">

                    <div class="col-sm-4" data-container="container">
                        <p class="" style="line-height: 40px">
                            2015 © Scoala Gimnaziala Christiana
                            <br>
                        </p>

                    </div>
                    <div class="col-sm-1" data-container="container">
                    </div>
                    <div class="col-sm-7" data-container="container">


                        <ul class="list-inline" style="line-height: 40px">
                            <li class="">
                                Parteneri:
                            </li>

                            <li class="">
                                {{partners}}
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>