<footer id="section-footer" class="footer " data-widget="section" data-container="section">
    <div data-css-name="" class="" data-widget="container" data-container="container">
        <div class="row-fixed" data-widget="row">
            <div class="container container-fluid">
                <div class="row">

                    <div class="col-sm-4" data-container="container">
                        <div class="" data-widget="text" data-preset="default" data-spacing="sasa">
                            <div class="">
                                <p class="" style="line-height: 40px">
                                    2015 © Scoala Gimnaziala Christiana
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1" data-container="container">
                    </div>
                    <div class="col-sm-7" data-container="container">
                        <div class="" data-preset="3" data-widget="menu" data-align="right" data-menu-id="2" data-menu-type="horizontal" data-spacing="sasa">

                            <ul class="list-inline" style="line-height: 40px">
                                <li class="">
                                    <a href="/" class="">Despre Noi</a>
                                </li>

                                <li class="">
                                    <a href="/servicii" class="">Servicii</a>
                                </li>

                                <li class="">
                                    <a href="/contact" class="">Contact</a>
                                </li>        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>