<div class="latest_news">
    <div class="row-fixed latest_news" data-widget="row">
        <div class="container-fluid">
            <div class="latest_news_header" data-widget="text" data-preset="default" data-spacing="lasa">

                <p class="">Ultimele Stiri<br>
                </p>

            </div>

        </div>
    </div>
    <div class="news-item">
            <div class="date">
                <p class="">14 Martie 
        
                </p>
            </div>
        
            <hr />
                <p class="">Lorem ipsum, Ut enim ad minima veniam, quis nostrum exercitationem</p>
        
        
        <div class="spacing-bottom-large" data-widget="button" data-preset="2" data-align="left" data-spacing="sasa">
            <a href="/more/" data-action="page" data-id="12" class="" data-anchor="" data-size="small">
                citeste articol
            </a>
        </div>
    </div>
     <div class="news-item">
            <div class="date">
                <p class="">14 Martie 
        
                </p>
            </div>
        
            <hr />
                <p class="">Lorem ipsum, Ut enim ad minima veniam, quis nostrum exercitationem</p>
        
        
        <div class="spacing-bottom-large" data-widget="button" data-preset="2" data-align="left" data-spacing="sasa">
            <a href="/more/" data-action="page" data-id="12" class="" data-anchor="" data-size="small">
                citeste articol
            </a>
        </div>
    </div>


</div>