<div class="latest_news">
    <div class="row-fixed latest_news" data-widget="row">
        <div class="container-fluid">
            <div class="latest_news_header"

                <p class="">Ultimele Stiri<br>
                </p>

            </div>

        </div>
    </div>
    {%for item in news%}
        <div class="news-item">
            <div class="date">
                <p>{{item.publishDate}}</p>
            </div>        
            <hr />
            <p>{{item.excerpt}}</p>


            <div class="spacing-bottom-large" >
                <a href="/{{item.slug}}" > citeste articol </a>
            </div>
        </div>
    {% endfor %}


</div>