{% extends "layout.twig" %}

{% block content %}
    <div>Rezultatele cautarii:</div>
    {% for article in articles %}
        <div>
            <h4><a href="{{article.slug}}">{{article.title}}</a></h4>
            <article>
                {{article.excerpt|raw}}
            </article>
        </div>
    {%endfor%}
{% endblock %}
