{% extends "layout.twig" %}

{% block content %}

    {% if carousel is defined  %}
        {{ include('layers/carousel.twig') }}
    {% endif %}
    <h2>{{article.title}}</h2>
    <article>
        {{article.body|raw}}
    </article>

{% endblock %}
